
.gray-bg {
  
    background-color: #eee;
  }

  .form-task{
    border-radius: 5px !important;
  }
 
  .head-title li a{
    color: #444242;
  }
  .row-main{
    margin-left: 0 !important;
  }
  
  /* About Me 
  ---------------------*/
  #about{
    margin: 70px;
    margin-top: 20px;
  }

  .about-list {
  padding-top: 10px;
  }
  .about-list .media {
    
  margin-left: 0;

  }
  .about-list label {
  color: #0072ff;
  font-weight: 600;
  width: 150px !important;
  margin: 0;

  }

  .about-text2{
    margin-top: 20px !important;
  }

  .discription{
    margin-left: -40px !important;
  }

  
  .about-list p{
  padding-left: 30px;
  font-size: 15px;
  }

  .dark-color {
    color: #000;
  }

  /* submite */
  h1 {
    font-size: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .form-main{
    margin-top: 30px;
  }

  .btn{
    font-size: 16px;
    border-radius: 10px;
    font-weight: 700;
  }
  .form-group2{
    width: 200px;
  }

  .about-list h3{
    margin-left: 30px !important;
   font-size: 18px;
   font-weight: 700;
  }

  .form_file{
    width: auto;
    display: flex;
    
    justify-content: space-between;
  }
  .form-group3{
    width: 400px;
    color: #000;
  }

  @media screen and (max-width:769px) {
    .dark-color{
      font-size: 25px;
      font-weight: 700;
    }
    .row-main2{
      margin-left: -40px !important;
      
    }

    .about-list{
      width: 100%;
    }

    .media2{
      display: flex;
      flex-direction: column;
    }

    .about-list p{
      width: 300px !important;
      margin-left: -25px !important;
    }

    .about-list h3{
      font-size: 15px;
      margin-left: 20px;
    }

    .form-main{
      margin-left: -50px;
    }
    .form-task{
        width: 300px !important;
    }
  }